@mixin title($margin: clamp(0.75rem, 0.536rem + 1.071vw, 1.5rem)) {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: start;
	margin-left: $margin;
	gap: 2px;
}

@mixin glass-card($gradient-angle: 185deg) {
	border-radius: 20px;
	background: linear-gradient($gradient-angle, #071d4974, #3f79eb74);
	border: 1px solid #214da3;
	border-bottom-color: #194294;
	border-left-color: #194294;
	backdrop-filter: blur(13px);
}
