@mixin title($margin: clamp(0.75rem, 0.536rem + 1.071vw, 1.5rem)) {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: start;
	margin-left: $margin;
	gap: 2px;
}

@mixin glass-card($gradient-angle: 185deg) {
	border-radius: 20px;
	background: linear-gradient($gradient-angle, #07174974, #3f64eb74);
	border: 1px solid #2134a3;
	border-bottom-color: #193494;
	border-left-color: #193494;
	backdrop-filter: blur(13px);
}
