.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  width: fit-content;
  border-radius: 16px;
  background: url("@/shared/assets/bg/skills.svg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;

  .title {
    width: 100%;
    text-align: start;
    margin-left: 24px;
  }
}
