@use '@/app/styles/animations.scss' as *;

.skills {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;

	.iconWrapper {
		position: relative;     
		display: inline-flex;
		align-items: center;

		&::after {
			content: attr(data-tooltip);
			position: absolute;
			top: 130%;             
			left: 50%;
			transform: translateX(-50%);
			margin-top: 6px;
			z-index: 999;

			background: #127ced8e;
			backdrop-filter: blur(13px);
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
			font-size: 12px;
			font-weight: 700;
			padding: 5px 8px;
			border-radius: 12px;
			white-space: nowrap;

			opacity: 0;
			pointer-events: none;
			transition: all 0.3s ease;
		}

		&:hover::after {
			top: 110%;
			opacity: 1;
		}
	}

	.icon {
		width: clamp(2.1875rem, 1.96rem + 0.97vw, 3.125rem);
		transition: all 0.3s ease;

		&:hover {
			filter: brightness(1.15);
			transform: scale(1.2);
		}
	}
}