.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 280px;

  .icon {
    width: clamp(2.438rem, 2.42rem + 0.089vw, 2.5rem);
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(1.3);
    }
  }
}
