@use "@/app/styles/mixins.scss" as *;
@use "@/app/styles/animations.scss" as *;

.about-me {
  @include bgImg(12px, 24px, center, column, "@/shared/assets/bg/aboutMe.svg");
  flex: 1;
  animation: fadeIn 1s;

  .title {
    @include title(0);
  }

  .text {
    width: 500px;
    max-width: 500px;
  }
}
