.subtitle,
.title,
.text {
  &__white {
    color: var(--white-color);
  }
  &__white10 {
    color: var(--white10-color);
  }
  &__gray10 {
    color: var(--gray10-color);
  }
  &__gray30 {
    color: var(--gray30-color);
  }

  &__regular {
    font-weight: 400;
  }
  &__medium {
    font-weight: 500;
  }
  &__semi_bold {
    font-weight: 600;
  }
  &__bold {
    font-weight: 700;
  }

  &__xs {
    font-size: clamp(0.625rem, 0.589rem + 0.179vw, 0.75rem);
  }
  &__sm {
    font-size: clamp(0.625rem, 0.554rem + 0.357vw, 0.875rem);
  }
  &__md {
    font-size: clamp(0.875rem, 0.804rem + 0.357vw, 1.125rem);
  }
  &__lg {
    font-size: clamp(1rem, 0.929rem + 0.357vw, 1.25rem);
  }
  &__xl {
    font-size: clamp(1.25rem, 1.179rem + 0.357vw, 1.5rem);
  }
  &__xxl {
    font-size: clamp(1.25rem, 1.036rem + 1.071vw, 2rem);
  }
}
