.github-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 12px clamp(0.75rem, 0.607rem + 0.714vw, 1.25rem);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
