.github-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  white-space: nowrap;
  background-color: #386acdba;
  border-radius: 12px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #386acdea;
  }
}
