.github-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px 24px;
	white-space: nowrap;
	background-color: #3851cdba;
	border-radius: 12px;
	transition: background-color 0.3s ease;

  .text-full {
    display: inline;
  }
  
  .text-short {
    display: none;
  }

	&:hover {
		background-color: #3851cdea;
	}

    @media (max-width: 768px) {
    .text-full {
      display: none;
    }
    
    .text-short {
      display: inline;
    }
  }
  
  @media (max-width: 400px) {
    .text-full,
    .text-short {
      display: none;
    }
  }
}
