@use "@/app/styles/mixins.scss" as *;
@use "@/app/styles/animations.scss" as *;

.projects {
  @include bgImg(20px, 12px, center, column, "@/shared/assets/bg/projects.svg");
  animation: fadeIn 1s;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .title {
    @include title(12px);
  }
}
