@use '@/app/styles/mixins.scss' as *;
@use '@/app/styles/animations.scss' as *;

.projects {
	@include glass-card(185deg);

	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 18px;
	opacity: 0;
	width: 100%;
	animation: fadeIn 0.4s ease forwards;
	animation-delay: 0.2s;

	.info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.title {
		@include title(12px);
	}
}
