.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 858px;

  .main {
    display: flex;
    gap: 8px;
  }

  .footer {
    display: flex;
    gap: 8px;
  }

  .projects {
    display: flex;
    gap: 8px;
  }
}
