.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 858px;

  .header,
  .main,
  .footer {
    display: flex;
    gap: 8px;
  }

  .projects {
    display: flex;
    gap: 8px;
  }
}
