@use "@/app/styles/mixins.scss" as *;
@use "@/app/styles/animations.scss" as *;

.profile {
  @include bgImg(20px, 12px, start, row, "@/shared/assets/bg/profile.svg");
  position: relative;
  flex: 1;
  animation: fadeIn 1s;

  .avatar {
    width: clamp(5.625rem, 4.786rem + 4.196vw, 8.563rem);
    height: clamp(5.625rem, 4.786rem + 4.196vw, 8.563rem);
    border-radius: 8px;
    background: url("@/shared/assets/photo/avatar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    filter: brightness(0.8);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);
  }

  .star {
    position: absolute;
    top: clamp(0.75rem, 0.607rem + 0.714vw, 1.25rem);
    right: clamp(0.75rem, 0.607rem + 0.714vw, 1.25rem);
    z-index: 3;
    width: clamp(1.125rem, 1.018rem + 0.536vw, 1.5rem);
  }
}
