@use "@/app/styles/mixins.scss" as *;
@use "@/app/styles/animations.scss" as *;

.profile {
  @include bgImg(20px, 12px, start, row, "@/shared/assets/bg/profile.svg");
  position: relative;
  flex: 1;
  animation: fadeIn 1s;

  .avatar {
    width: 137px;
    height: 137px;
    border-radius: 8px;
    background: url("@/shared/assets/photo/avatar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    filter: brightness(0.8);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .star {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
  }
}
