@use "@/app/styles/mixins.scss" as *;
@use "@/app/styles/animations.scss" as *;

.contacts {
  @include bgImg(28px, 17px, center, column, "@/shared/assets/bg/contacts.svg");
  padding-top: 24px;
  width: fit-content;
  animation: fadeIn 1s;

  .title {
    @include title;
  }
}
