@use '@/app/styles/mixins.scss' as *;
@use '@/app/styles/animations.scss' as *;

.work-together {
	@include glass-card(185deg);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 18px;
	width: 100%;
	opacity: 0;
	animation: fadeIn 0.4s ease forwards;
	animation-delay: 0.3s;
}
