@use "@/app/styles/mixins.scss" as *;
@use "@/app/styles/animations.scss" as *;

.codewars {
  @include bgImg(0, 9px, center, row, "@/shared/assets/bg/codewars.svg");
  width: 100%;
  animation: fadeIn 1s;

  .image {
    transition: filter 0.3s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
