@use '@/app/styles/mixins.scss' as *;
@use '@/app/styles/animations.scss' as *;

.codewars {
	@include glass-card(185deg);

	padding: 14px;
	width: 100%;
	opacity: 0;
	animation: fadeIn 0.4s ease forwards;
	animation-delay: 0.25s;

	.image {
		transition: filter 0.3s;

		&:hover {
			filter: brightness(0.8);
		}
	}
}
